<a href="https://colab.research.google.com/github/Kalyan-kumar2000/DAP/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ['english', 'maths', 2001, 2020];
list2 = [1,3,4,2,5,2,4 ];
print ("list1[0]: ", list1[2])
print ("list2[1:5]: ", list2[1:3])

list1[0]:  2001
list2[1:5]:  [3, 4]

In [ ]:
list = ['English', 'hindi', 2020, 1990];
print ("Value available at index 3 : ")
print (list[2])
list[2] = 2344323;
print ("New value available at index 3: ")
print (list[2])

Value available at index 3 :
2020
New value available at index 3:
2344323

In [ ]:
list1 = ['Social', 'maths', 'computers', 2000];
print (list1)
del (list1[2]);
print ("After deleting value at index 3 :")
print (list1)

['Social', 'maths', 'computers', 2000]
After deleting value at index 3 :
['Social', 'maths', 2000]

In [ ]:
list1, list2 = ['kumar','345','kalyan'], [345, 'reddy']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [ ]:
aList = ['kalyan', 'kumar', 'reddy'];
aList.append( 2019 );
print ("Updated List : ", aList)

Updated List :  ['kalyan', 'kumar', 'reddy', 2019]

In [ ]:
aList = ['kalyan', 'kumar', 'reddy', 234];
print ("Count for xyz : ", aList.count('kalyan'))
print ("Count for zara : ", aList.count('kumar'))

Count for xyz :  1
Count for zara :  1

In [ ]:
aList = [234, 'reddy', 'kalyan', 'kumar', 123];
bList = [2009, 'bontha'];
aList.extend(bList)
print ("Extended List : ", aList)

Extended List :  [234, 'reddy', 'kalyan', 'kumar', 123, 2009, 'bontha']

In [ ]:
aList = [123, 'kumar', 'reddy', 'kalyan', 'bontha'];
print ("Index for xyz : ", aList.index( 'kalyan' ) )
print ("Index for zara : ", aList.index( 'reddy' ) )

Index for xyz :  3
Index for zara :  2

In [ ]:
aList = [123, 'hindi', 'social', 'maths']
aList.insert( 2,2000)
print ("Final List : ", aList)

Final List :  [123, 'hindi', 2000, 'social', 'maths']

In [ ]:
aList = [123, 'kalyan', 'kumar', 'reddy'];

print(aList)

print ("List after popping last element : ", aList.pop())

print(aList)

print ("List after popping element from mentioned index: ", aList.pop(2))

print(aList)

aList.insert(3, 2020)

print(aList)

[123, 'kalyan', 'kumar', 'reddy']
List after popping last element :  reddy
[123, 'kalyan', 'kumar']
List after popping element from mentioned index:  kumar
[123, 'kalyan']
[123, 'kalyan', 2020]

In [ ]:
aList = [123, 'kalyan', 'zara', 'reddy', 'xyz'];
aList.remove('xyz');
print ("List : ", aList)
aList.remove('kalyan');
print ("List : ", aList)

List :  [123, 'kalyan', 'zara', 'reddy']
List :  [123, 'zara', 'reddy']

In [ ]:
aList = ['kalyan', 'kumar', 'reddy', 'bontha', 'siva'];
aList.reverse();
print ("List : ", aList)

List :  ['siva', 'bontha', 'reddy', 'kumar', 'kalyan']

In [ ]:
aList = ['kalyan', 'kuamr', 'reddy', 'siva', 'subbu'];
aList.sort();
print ("List : ", aList)

List :  ['kalyan', 'kuamr', 'reddy', 'siva', 'subbu']